<div class="row" id="searchView">
	<div class="col-md-12">
	<!--搜索内容-->
		<div class="thumbnail">
			<img src="..." alt="..." class="img-rounded">
			<div class="caption" id="carName" >
				<h3>品牌</h3>
				<h3>车型</h3>
				<span>120万</span>
				<span>12万</span>
				<span>12KM</span>
			</div>
		</div>
		<div class="thumbnail">
			<img src="..." alt="..." class="img-rounded">
			<div class="caption" id="carName">
				<h3>品牌</h3>
				<h3>车型</h3>
				<span>120万</span>
				<span>12万</span>
				<span>12KM</span>
			</div>
		</div>
		<div class="thumbnail">
			<img src="..." alt="..." class="img-rounded">
			<div class="caption" id="carName">
				<h3>品牌</h3>
				<h3>车型</h3>
				<span>120万</span>
				<span>12万</span>
				<span>12KM</span>
			</div>
		</div>
		<div class="thumbnail">
			<img src="..." alt="..." class="img-rounded">
			<div class="caption" id="carName">
				<h3>品牌</h3>
				<h3>车型</h3>
				<span>120万</span>
				<span>12万</span>
				<span>12KM</span>
			</div>
		</div>
		<div class="thumbnail">
			<img src="..." alt="..." class="img-rounded">
			<div class="caption" id="carName">
				<h3>品牌</h3>
				<h3>车型</h3>
				<span>120万</span>
				<span>12万</span>
				<span>12KM</span>
			</div>
		</div>
		<div class="thumbnail">
			<img src="..." alt="..." class="img-rounded">
			<div class="caption" id="carName">
				<h3>品牌</h3>
				<h3>车型</h3>
				<span>120万</span>
				<span>12万</span>
				<span>12KM</span>
			</div>
		</div>
		<!--分页-->
		<nav aria-label="Page navigation" style="text-align: center">
			<ul class="pagination pagination-sm">
				<li>
					<a href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li>
					<a href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>

